@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Oswald:400,700);

body {
    background-color: #F7F9CC;
}
h1 {
    color: navy;
    margin-left: 20px;
}

h3 {
   color: #93C4FE;
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-size: 150px;
   text-shadow: 2px 4px 5px #aaa;
}

p {
   font-family: 'Comfortaa', serif;
   text-align: center;
   color: black;
   text-shadow: 2px 2px 3px #aaa;
}

a:link {
    color: #93C4FE;
    text-decoration: none;
}


a:visited {
   color: #93C4FE;
    text-decoration: none;
}

a:hover {
   color: #93C4FE;
/*    text-decoration: underline; */
}

a:active {
   color: #93C4FE;
/*    text-decoration: underline; */
}


 
@font-face {
    font-family: myFirstFont;
    src: url("http://fonts.googleapis.com/css?family=Tangerine");
} 


   
/*
#F7F9CC Egg
#FEC893 Peach
#FEA993 Salmon
#93C4FE Sky
#470061 Deep Purple
*/
   